.main {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  background-color: black;
  overflow: hidden;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
      border: 3px solid rgb(45, 110, 74);
      border-radius: 11px;
  padding: 10px;
}

.nav-left,
.nav-center,
.nav-right {
  flex: 1;
  display: flex;
  align-items: center;
}

.nav-center {
  justify-content: center;
}

.nav-left {
  justify-content: flex-start;
}

.nav-right {
  justify-content: flex-end;
}


.messagecontainer {
  overflow-y: auto;
  padding: 10px;
  display: flex;
flex-direction: column;
}

.Input {
  display: flex;
  background-color: #111;
  flex-direction: row;
  justify-content: space-between;
 gap: 20px;
}

.Input input{
    height: 55px;
    width: 100%;
    border: 1px solid whitesmoke;
    border-radius: 20px;
    padding: 5px;
    margin: 19px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    font-weight: 300

}

.Input button{
    margin-right: 20px;
    background-color: green;
    margin: 9px;
     border: 1px solid whitesmoke;
}

.messages {
  max-width: 60%;
  padding: 10px;
  margin: 15px;
 border: 1px solid whitesmoke;
 border-radius: 13px;
  word-wrap: break-word;
}

.sent {
  align-self: flex-end;
  background-color: #007bff;
  color: white;
  text-align: right;
  border-top-right-radius: 0;
}

.received {
  align-self: flex-start;
  background-color: #2c2c2c;
  color: #cfcfcf;
  text-align: left;
  border-top-left-radius: 0;
}


