.Main {
   
    background-color: rgb(29, 27, 27);
    margin: 0;
    padding: 0;
     display: flex;
     flex-direction: column;
    gap: 125px;
    align-items:center ;
    height:100vh;
    width:100vw;
}

.Details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 451px;
    width: 391px;
    padding: 24px;
    background-color:rgb(0, 0, 0);
    border: 1px solid gold;
    border-radius: 19px;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.2);
    align-self: center;
}

.Info
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
    margin: 6px;
    
}
.Info input{
    width: 215px;
    height: 35px;
    font-size: 19px;
    padding: 5px;
    font-weight: 300;
    border: 1px solid gold;
    border-radius: 12px;
}

.Details h2{
   
    align-self: center;
    color:whitesmoke;
    text-shadow: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin:25px;

}

.Details button{
    color: aqua;
    border: 1px solid goldenrod;
}

.Details label{
    font: 12px;
    color: whitesmoke;
}

.NavBar{
    height: 125px;
    width: 100%;
    border-bottom: 1px solid goldenrod;
    display :flex;
    flex-direction:row;
    justify-content: space-between;
    

}
.NavBar h1{
    margin: 35px;
    font-family: 'Times New Roman', Times, serif;
}


@media (max-width: 360px) {
 .Main {
    gap: 40px;
    padding: 15px;
  }

  .Details {
    width: 100%;
    max-width: 320px;
    height: auto;
    padding: 20px;
  }

  .Info input {
    width: 100%;
    max-width: 250px;
  }

  .NavBar {
    height: auto;
    padding: 10px;
  }

  .NavBar h1 {
    margin: 0;
    font-size: 26px;
  }
}

