*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.main1 {
  height: 100vh;
  width: 100vw;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: black;
  overflow-x: hidden;
  border: 2px solid white;
  overflow-y: auto;
  gap: 20px; /* NEW: adds space between h2 and cards */
}

.main h2{
    margin: 20px;
    border: 3px solid rgb(52, 19, 141);
}
.badgeSmall {
  background: red;
  color: white;
  font-size: 12px;
  padding: 2px 8px;
  border-radius: 20px;
  font-weight: bold;
  display: inline-block;
}
